<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Creation</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="body-container">
    <div class="web-container">
        <%- include('partials/header.ejs') %>
        <h1 class="h1">Create a New Blog Post</h1>
        <form action="/create-post" method="POST" class="main-container">
            <div class="form-container">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-input" id="title" name="title" required>
            </div>
            
            <div class="form-container">
                <label for="text" class="form-label">Content:</label>
                <input type="text" class="form-input" id="text" name="text" rows="10" cols="30" required></input>
            </div>
            
            <div class="form-container">
                <label for="author" class="form-label">Author:</label>
                <input type="text" class="form-input" id="author" name="author" required>
            </div>
            
            <div class="flex justify-center gap-20">
                <a href="/" class="btn-secondary">Cancel</a>
                <button type="submit" class="btn-primary">Create Post</button>
            </div>
        </form>
    </div>
    <%- include('partials/footer.ejs') %>
</body>

</html>